
<div id="cover" style="background-image: url(../../assets/images/cool.jpg); 
height: 100vh; width: 120rem;">
<h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
text-align: center; padding-top: 200px; padding-right: 180px; color:rgb(231, 231, 231)">
<h1><b>CONTACTS<br></b></h1><br>
 <h3><b>EMAIL: EMMETLAO04@GMAIL.COM</b></h3>
 <h3><b>FACEBOOK: EMMETT LAO</b></h3>
 <h3><b>INSTAGRAM: ARKECL</b></h3>
 <h3><b>PHONE NUMBER: 09550124884</b></h3>
 <h3><b>TWITTER:@ARKSETCL</b> </h3>