
<hr>


<div id="cover" style="background-image: url(../../assets/images/shop.jpg); 
height: 90vh; width: 110rem;">
<section id="two" class="partnersone">
<div class="container">
<div class="row">
<div class="col">
<div class="card" style="width: 18rem; height: 550px;">
<img src="../../assets/images/shirt.png" class="card-img-top" alt="..." style="width: 18rem; height: 550px;">
<div class="card-body">
<h5 class="card-title">T-shirts</h5>
<p class="card-text">
    ABOUT THE PRODUCT<br>
    Simple yet refreshing, 100% cotton.
    
    HIGHLIGHTS<br>
    Slim
    Plain
    Graphic Print
    Comfort
    Trend
    <br>
    SIZING <br>
    size Slim to normal size.
    
    
 </p>
</div>
</div>
</div>
<div class="col">
<div class="card" style="width: 18rem; height: 550px;">
<img src="../../assets/images/gr.jpg" class="card-img-top" alt="..." style="width: 18rem; height: 550px;">
<div class="card-body">
<h5 class="card-title">Shoes</h5>
<p class="card-text">
    ABOUT THE PRODUCT<br>
    For sports and jogging, run with comfort.
    
    HIGHLIGHTS<br>
    Sports
    Jogging
    Durable
    Comfort
    trend
    <br>
    SIZING <br>
    size 39-45, men & women
    
</p>
</div>
</div>
</div>
<div class="col">
    <div class="card" style="width: 18rem; height: 550px;">
        <img src="../../assets/images/bg.jpg" class="card-img-top" alt="..." style="width: 18rem; height: 550px;">
        <div class="card-body">
        <h5 class="card-title">Bag</h5>
        <p class="card-text">
            ABOUT THE PRODUCT<br>
            New leather bag design for fashion.
            
            HIGHLIGHTS<br>
            Trend
            Leather
            Durable
            Black
            Fashion
            <br>
            SIZING <br>
            small and large
    


</p>
</div>
</div>
</div>
<div class="col">
<div class="card" style="width: 18rem; height: 550px;">
<img src="../../assets/images/jg.jpg" class="card-img-top" alt="..." style="width: 18rem; height: 550px;">
<div class="card-body">
<h5 class="card-title">Jogging Pants</h5>
<p class="card-text">
    ABOUT THE PRODUCT<br>
            Designed for comfort and sports.
            
            HIGHLIGHTS<br>
            Trend
            Strecth<br>
            Durable
            Sports
            <br>
            SIZING <br>
            small, medium and large

            
 </p>

 
</div>
</div>
</div>
</div>
</div>
</section>