
<strong style="font-size: 23px">Personal Information</strong><br>
<strong style="font-size: 17px">Name:</strong> Lao, Amari Kelsie Emmett C.<br>
<strong style="font-size: 17px">Age:</strong> 21<br>
<strong style="font-size: 17px">Nationality:</strong> Filipino<br>
<strong style="font-size: 17px">Religion:</strong> Catholic<br>
<strong style="font-size: 17px">Civil Status:</strong> Single<br>
<strong style="font-size: 17px">Birthdate:</strong> September 04,2000<br>
<strong style="font-size: 17px">Sex:</strong> Male<br>
<strong style="font-size: 17px">Address:</strong> 686 Fajardo St. Barangay Salapungan, Angeles City<br><br>

<strong style="font-size: 23px">Educational Background</strong><br>
<strong style="font-size: 17px">College:</strong><br>Holy Angel University<br>Sto. Rosario St. Angeles City<br>
A.Y 2019-Present<br><br>
<strong style="font-size: 17px">Secondary (Senior High School)</strong><br>Science Technology Engineering Mathematics<br>Holy Angel University<br>Sto. Rosario St. Angeles City<br>
A.Y 2017-2019<br><br>
<strong style="font-size: 17px">Secondary (Junior High School)</strong><br>Holy Angel University<br>Sto. Rosario St. Angeles City<br>
A.Y 2013-2017<br><br>
