<div id="cover" style="background-image: url(../../assets/images/blck.jpg); 
height: 100vh; width: 120rem;">
<h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
text-align: center; padding-top: 200px; padding-right: 180px; color:white">
<h1><b>ABOUT ARK<br></b></h1><br>
    <h4>Making streetwear accessible to everyone.
    Inspired by street fashion and youth culture,<br>
     ARK is all about being effortlessly cool.<br>
     The brand schools us on what's new and makes a conscious effort <br>
     to create clothes that embrace authentic individual expression,<br>
     making it an easy favorite among streetwear enthusiasts.<br> 
     By listening to the pulse on the street, ARK makes streetwear <br>
     accessible for everyone without breaking the bank.</h4>